
* { 
    font-size: large;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    align-self: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px var(--main-color) solid;
    border-radius: 2em;
    text-decoration: none;     
    background-color: var(--main-color);
    padding: 0.5em;
    margin-top:1rem;
    color:var(--white)
}
button:hover {
    
    background-color:var(--hover-color);    
    display: inline-block;
    transform: scale(1.05);    
}




body {
    --main-color: rgb(0, 68, 88);
    --background-color:rgb(187, 179, 152); 
    --hover-color:rgb(4, 85, 110);  
    --white: rgb(214, 214, 214);  
    position: fixed;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    margin: 0;
    /* background-color: #03163fcc; */
    background-color: var(--background-color); 
    text-align: center;
    width: 100%;
    height: 100%;

}

.body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;        
}

footer {        
    border:0;    
    text-align: center;
    margin-top: auto;
}

footer ul {
    padding: 0;   
}

header {
    font-size: larger;
    display: flex;
    background: var(--main-color);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    height: 80px;


    /* flex-direction: row;
    text-align: left;
    width: 100%;
    position: static;
    background-color: black;
    left: 0;
    display: inline-block;
    align-items: center;    
    top: 0; */
}

@-webkit-keyframes anim {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes anim {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}


.nav-right {
    text-align: center;
    overflow: hidden;

}

.nav-right a {
    display: inline-block;
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 200ms transform ease-in-out;
    padding: 29px;
    border-left: 1px solid black;
    /* border-right: 2px solid black; */
}





.nav-right>a:hover {
    background-color:var(--hover-color);    
    display: inline-block;
    transform: scale(1.05);
    border-right: 1px solid white;
    border-left: 1px solid white;
    color: rgb(235, 235, 235);
}

.nav-right>a:hover:first-child {
    border-left: 0px solid white;
}



.nav-left>a>img {
    vertical-align: middle;

}

.nav-left>a {
    display: block;
    overflow: hidden;
    border: 2px;
    border-color: black;
    display: inline-block;
    align-self: center;
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.nav-left {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.genre-list {    
    padding: 1rem;
    display: inline-block;
    transform: scale(1.05);
    /* border-right: 1px solid white;
    border-left: 1px solid white; */
    color: rgb(235, 235, 235);    
}

.genre-list li {
    transition: 200ms transform ease-in-out;
    margin-right: 1rem;
    display: inline;
}

.genre-list li a {
    text-decoration: solid;
    color: rgb(9, 9, 75); 

}

.genre-list li:hover {
    display: inline-block;
    transform: scale(1.05);    
}
.genre-list li:hover > a {
    color: var(--main-color);
}

header>div:last-child {
    margin-left: auto;
}


table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    vertical-align: top;
}

table, th, td, a {
    color: rgb(214, 214, 214);
    border-left: none;
    border-right: none;
}

table, th, td, a:hover {
    text-decoration: none;
    transform: scale(1.015);
}

table, th {
    table-layout: auto;
    border: none;
}


table {
    color: rgb(214, 214, 214);
    border: 2px black;
    border-radius: 15px;
    background: var(--hover-color);
    width: 100%;
    margin-bottom: 15px;
}

tbody tr td{    
    text-align: center;
}


.login tbody tr td:first-child{    
    text-align: right;
}
.login tbody tr td:last-child{    
    text-align: center;
}

th, td {
    border: 0;
    padding-top: 0.25rem;    
    padding-bottom: 0.25rem;    
}






body h1 {
    color: var(--main-color);
}

.button {
    border: 1px var(--main-color) solid;
    border-radius: 2em;
    text-decoration: none;     
    background-color: var(--main-color);
    padding: 1em;
}


.button:hover {        
    background-color:var(--hover-color);      
}




.movies{
    display: table;
    margin: 0 auto;
    padding: 0;
}


.carta-grid .carta{  
    --padding: .75rem;
    display: inline-block;
    *display: inline;
    *zoom:1;
    background-color: var(--main-color);       
    border-radius: .5rem;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    transition: 200ms transform ease-in-out;
    margin-right: 20px;    
    margin-top: 20px;        
    max-width: 300px;
    border: none;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.carta-grid{    

    display: inline-block; 
    position: inherit;
    margin: 0; 
    margin-top: 2rem;    
    padding: 0;
}

.carta > a{    
    padding: 0px;
    margin-top: 0;
    padding-top: 0px;
}

.carta-body.carta-image{
    overflow: hidden;    
}

.carta.shadow-carta:hover > .carta-body.carta-image > img{
    transform: scale(1.025);    
}




.carta:hover{
    transform: scale(1.015);    
}



.carta-body.carta-image > img{
    display: block;
    width: 100%;    
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center; 
    transition: 200ms transform ease-in-out;       
}



@-webkit-keyframes anim {
    from {
        left: 0%;         
    }
    to {
        left:-100%;
    }
}

@keyframes anim {
        0% {left: 0%;}        
        100% {left:-100%;}
}


.carta > a   {
    text-decoration: none;    
    text-align: left;
}

.carta:hover > a > .carta-footer> p{
    position: relative;
    white-space: nowrap;    
    animation: anim 4s linear;  
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.carta-footer{           
    font-size: 1.5rem;
    padding: var(--padding);
    margin-top: 0.75rem;
    padding-top: 0;
    background-color: inherit;
}
.carta-footer  > p{
    white-space: nowrap;    
    margin-right: 20px;
    margin: 0;
    color: rgb(235, 235, 235);;

}

.carta-body{
    font-size: 1.rem;
    margin-bottom: .5rem;    
}





/* Listas main */

.list > li >a {
    border: 1px ;
    border-radius: 2%;
    border-color: black;
}


.list > li {
    display: inline;
}


.main > div{
    width: 100%;
    display: inline;
}

.main {
    width: 100%;
    display: contents;
    

}
.logo{
    width: min-content;
    margin-right: 0px;
    padding: 0;
}

aside{        
    display: inline-block;
    margin-right: 4rem;
    margin-left: 4rem;
}




.login {
    margin: auto;
    width: 25%;    
}

.login button {
    margin-top: 2rem;
    color: var(--white);
    box-shadow: none;
    border: 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);    
}
.login button:hover {    
    transform: scale(1.015);  
}
.login table {    
    border-radius: 0.5rem;    
    margin-bottom: 0;
}

.login table td {
        
    margin-bottom: 0;
}


form label {      
    margin-top: 1rem;      
    border-radius: inherit;
}
table tr:last-child td:last-child {
    border-bottom-right-radius:0.5rem;
    padding-bottom: 0.5rem;
}


.login form td input {  
    margin: auto;    
    border: 0.5px;    
}

.carta-grid .ticket{
    padding: 1rem;
    color: var(--white);  
    --padding: .75rem;
    display: inline-block;
    *display: inline;
    *zoom:1;
    background-color: var(--main-color);       
    border-radius: .5rem;        
    overflow: hidden;
    transition: 200ms transform ease-in-out;
    margin-right: 20px;    
    margin-top: 20px;        
    max-width: 300px;
    border: none;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

tbody tr:nth-child(odd) {    
    background: var(--main-color);
    border: inherit;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #top:hover {
    transform:none;
    background-color: var(--hover-color);
  }

